.toast-message{
    position: absolute;
    bottom: 4%;
    right:  2%;
    height: 40px;
    min-width: 150px;   
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 0px 12px 0px 8px;
    box-shadow: 3px 3px rgb(0 0 0 / 16%);
    z-index: 10;
}   

.toast-success{
    background-color: #d7f7e8;
    border-left: 6px solid #49cc90;
}

.toast-icon-success{
    margin-right: 8px;
    background: url('../../img/resouce-img.svg') no-repeat -242px -98px;
	width: 20px;
	height: 20px;
}

.toast-icon-erro{
    margin-right: 8px;
    background: url('../../img/resouce-img.svg') no-repeat -218px -98px;
	width: 20px;
	height: 20px;
}

.toast-erro{
    background-color: #fae7e7;
    border-left: 6px solid #f93e3e;
}

.toast-warning{
    background-color: #ebf3fb;
    border-left: 6px solid #61affe;
}

.toast-icon-warning{
    margin-right: 8px;
    background: url('../../img/resouce-img.svg') no-repeat -242px -74px;
	width: 20px;
	height: 20px;
}